#############################################################
#                   Config Ignore File                      #
#############################################################

# Folder ignored
/FrontEnd/node_modules/
/BackEnd/node_modules/
build/
.cache/
public/


# Files ignored
yarn.lock
yarn-error.log
package-lock.json
yarn-error.log
.DS_Store
npm-debug.log
