.titulo{
   color:white;
   font-size:25px;
}

.mensaje{
    color:white;
    font-size:15px;
}

.img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.respuestas{

    color: rgb(74, 85, 81);
}

.tipado{
    color:blue
}

.button{
    width: 25px;
    height: 25px;
    text-align: center;
    
   
    background-color: rgb(175, 68, 68);
}

