.titulo{
   color:white;
   font-size:25px;
   padding:5px;
}

.mensaje{
    color:white;
    font-size:15px;
}

.img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.respuestas{
    background-color: rgb(74, 85, 81);
}

.tipado{
    color:rgb(0, 84, 209)
}

.button{
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: rgb(202, 195, 195);
}


